@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Lato", sans-serif;

  --color-primary-900: #0f172a;
  --color-primary-800: #1e293b;
  
  --color-accent-gold: #d4af37;
  --color-accent-sand: #f5f5dc;
}

@layer base {
  body {
    @apply bg-primary-900 text-slate-300 font-sans antialiased;
  }

  h1, h2, h3, h4 {
    @apply font-serif text-white font-normal;
  }
}